.ag-size-type-field {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    margin-bottom: -18px;
}

.ag-size-type-field button.components-button.ag-size-btn:first-child {
    padding-left: 0;
}

.components-button-group .components-button:first-child {
    border-radius: 2px 0 0 2px;
}

.ag-size-type-field button.components-button.ag-size-btn {
    background: transparent;
    color: #777;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    height: 18px;
    line-height: 18px;
    padding: 0 3px;
}

.ag-size-type-field button.components-button.ag-size-btn.is-primary,
.ag-size-type-field button.components-button.ag-size-btn.is-primary:focus:not(:disabled):not([aria-disabled="true"]) {
    color: #000;
    text-decoration: underline;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    outline: none;
}

.ag-size-type-field button.components-button.ag-size-btn:hover,
.ag-size-type-field button.components-button.ag-size-btn:hover:focus:not(:disabled):not([aria-disabled="true"]) {
    color: #000;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    outline: none;
}

.ag-size-type-field button.components-button.ag-size-btn {
    background: transparent;
    color: #777;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    height: 18px;
    line-height: 18px;
    padding: 0 3px;
}


/* Blocks inside columns don't have negative margins. */

.wp-site-blocks .wp-block-columns .wp-block-column .alignfull,
.is-root-container .wp-block-columns .wp-block-column .wp-block[data-align="full"],

/* We also want to avoid stacking negative margins. */

.wp-site-blocks .alignfull:not(.wp-block-group) .alignfull,
.is-root-container .wp-block[data-align="full"]>*:not(.wp-block-group) .wp-block[data-align="full"] {
    width: inherit;
}